body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.parent {
    margin: 50px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.timer {
    grid-column: span 2;
    grid-row: span 1;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    font-size: 24px;

}

.timer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}

.timer-header .top {
    font-size: 18px;
    color: #555;
}

.top h1 {
    margin-bottom: -5px;
}

.timer-header .right-side {
    display: flex;
    align-items: center;
}

.right-side .answered-count {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.right-side .answered-count span:last-of-type{
    font-weight: 600;
    font-size: 22px;
}

.timer-header .right-side .answered-count,
.timer-header .right-side .time-remaining {
    margin-left: 20px;
    font-size: 16px;
}

.time-remaining {
    background-color: #dcd5ea;
    color: #855df6;
    padding: 10px 14px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px !important;
}

.timer-header .right-side .time-remaining i {
    margin-right: 5px;
}


.timer-bar {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #4b4bdd;
    width: 20%;
    transition: width 0.5s ease;
}

.question-navigator {
    grid-column: span 1;
    grid-row: span 4;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question-navigator-header {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
    padding: 10px 15px 0 15px;
    text-align: left;
    align-self: flex-start;
    font-weight: 600;
}



.question-navigator-header i {
    margin-right: 8px;
    font-size: 24px;
}

.question-navigator-header h2 {
    display: inline;
    font-weight: 500;
}

.status-list {
    background-color: #e6e4e4;
    border-radius: 10px;
    width: 90%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.status-list ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: start;
    flex-direction: column;

}

.status-list li {
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
}

.status-list .answered::before {
    content: "";
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 4px;
    background-color: #28a745;
}

.status-list .marked::before {
    content: "";
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 4px;
    background-color: #ffc107;
}

.status-list .not-answered::before {
    content: "";
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 4px;
    background-color: #bab9b9;
}

.status-list .current::before {
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 4px;
    border: 2px solid #007bff;
}


.question-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.question-grid .question {
    background-color: white;
    padding: 23px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-grid .question.answered {
    background-color: #238e3a;
    color: #d4edda;
}

.question-grid .question.marked {
    background-color: #f6b50e;
    color: #fff3cd;
}

.question-grid .question.not-answered {
    background-color: #b1b1b1;
    color: white;
}

.question-grid .question.current {
    border: 3px solid #4b4bdd;
}

.questions-stats {
    display: flex;
    margin-top: 15px;
    border-radius: 10px;
    flex-direction: column;
    width: 90%;
}

.questions-stats .state-item {
    padding: 8px 12px;
    font-size: 16px;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.state-item.answered {
    background-color: #d4edda;
    margin-bottom: 8px;
    border-radius: 8px;
}

.state-item.marked {
    background-color: #fff3cd;
    margin-bottom: 8px;
    border-radius: 8px;
}

.state-item.not-answered {
    background-color: #f8d7da;
    margin-bottom: 8px;
    border-radius: 8px;
}

.question-area {
    grid-column: span 2;
    grid-row: span 3;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.question-text {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

.question-text .question h2 {
    margin: 0;
    font-weight: 500;
    font-size: 25px;
}

.mark-button {
    background-color: #ffeb3b;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.options-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.options-list .option {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.option input[type="radio"] {
    margin-right: 10px;
}

.option input[type="radio"]:checked {
    accent-color: #4b4bdd;
}

.option label {
    cursor: pointer;
}

.options-list .option:hover {
    background-color: #e0e0e0;
}

.action-buttons {
    grid-column: span 2;
    grid-row: span 1;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.action-buttons button {
    background-color: #4b4bdd;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.action-buttons button:hover {
    background-color: #3a3ac1;
}







